<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver"></bean>

    <bean id="messageSourceAccessor"
          class="com.progress.singapore.datadirect.jdbc.demo.saleskit.common.MessageSourceAccessor"
          factory-method="getInstance">
        <property name="messageSource" ref="messageSource"/>
    </bean>

    <bean id="messageSource"
          class="com.progress.singapore.datadirect.jdbc.demo.saleskit.common.StaticMessageSource">
        <property name="locations">
            <list>
                <value>classpath:query.xml</value>
            </list>
        </property>
    </bean>

    <!-- ========================= ANNOTATION CONFIGURATION ======================== -->
    <context:annotation-config/>
    <context:component-scan base-package="com.progress.singapore.datadirect.jdbc.demo.saleskit"/>

    <bean id="ds_type5" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${type5.driverClassName}"/>
        <!--<property name="url" value="${type5.url}"/>-->
        <property name="url" value="jdbc:datadirect:oracle://192.168.213.130:1521;SID=XE;EnableBulkLoad=true;BatchPerformanceWorkaround=true;SDUsize=8192;"/>
        <property name="username" value="${type5.username}"/>
        <property name="password" value="${type5.password}"/>
        <property name="defaultAutoCommit" value="true"/>
        <!-- <property name="maxActive" value="100"/>
        <property name="maxIdle" value="50"/> -->
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWait" value="20000"/>
        <property name="accessToUnderlyingConnectionAllowed" value="true"/>
        <property name="logAbandoned" value="true"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="60"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="validationQuery" value="${type5.validationQuery}"/>
        <property name="minEvictableIdleTimeMillis" value="600000"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="numTestsPerEvictionRun" value="5"/>
        <property name="testWhileIdle" value="true"/>
    </bean>

    <bean id="ds_type4" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${type4.driverClassName}"/>
        <!--<property name="url" value="${type4.url}"/>-->
        <property name="url" value="jdbc:oracle:thin:@//192.168.213.130:1521/XE"/>
        <property name="username" value="${type4.username}"/>
        <property name="password" value="${type4.password}"/>
        <property name="defaultAutoCommit" value="true"/>
        <!-- <property name="maxActive" value="100"/>
        <property name="maxIdle" value="50"/> -->
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWait" value="20000"/>
        <property name="accessToUnderlyingConnectionAllowed" value="true"/>
        <property name="logAbandoned" value="true"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="60"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="validationQuery" value="${type4.validationQuery}"/>
        <property name="minEvictableIdleTimeMillis" value="600000"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="numTestsPerEvictionRun" value="5"/>
        <property name="testWhileIdle" value="true"/>
    </bean>

</beans>